footer(
    class="footer-2"
    role="contentinfo"
    itemscope
    itemtype="https://schema.org/WPFooter")

    div
    
       div
    
         ul
           li &copy; GKA 10B11
        
       div

       div

       div
