section(class="canvas front" id="front")

    div(class="content")

        h2 Good Sleep

        div

            p Do not procastinate and get good sleep

            div

                a(href="#section-2") Why?
                a(href="#section-3") How?

    +nav-1({ target: "section-1", direction: "next" })
