section(class="canvas section-3" id="section-3")

    h2 Section 3

    div(class="content")

        div
            figure
                svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h3 School work 
                p.
                    Keep up with your assignments and do not leave it until the last 
                    minute. There are many distractions but try to make a schedule 
                    you can keep to. 
                    
                   

        div
            figure
                svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h3 Your Phone
                p.
                    Once you start touching your phone, it will never stop. 
                    Try not to touch your phone before sleep. Instead, read books 
                    or keep silent.
                    
                    

        div
            figure
                svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h3 Develop Routine
                p.
                    Develop a routine on when are you going to sleep. When the clock 
                    hits that time, no matter what, go to bed immediately. Develop a 
                    habit you can keep to.
                    
                    

        div
            figure
                svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h3 Stress 
                p.
                    Stress and anxiety caused during daytime might affect your sleep. 
                    But rememeber, once you sleep, it will get better and you will 
                    wake up feeling better.
             
                   
                    

        div
            figure
                svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h3 Just relax
                p.
                    Make a comfortable environment for you to sleep in. Just keep your mind
                    and surroundings relaxed. Do some light exercise so you would get tired 
                    or something. 

        div
            figure
                svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h3 This
                p.
                    Doing programming is such a pain. Quit your work and hop into bed. I will, after I 
                    complete this assignment ASAP.
                    

    +nav-1({ target: "front", direction: "prev" })
