section(class="canvas section-2" id="section-2")

    h2 Section 2

    div(class="content")

        div

            svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h2 Boost your health
                p.
                    Getting good sleep does good to your health and boosts your immune system. 
                    Healthy sleep can get you sick less often! Just sleep bro. 
                   

        div

            svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h2 Have better mood
                p.
                    When you get sufficent sleep, you would wake up feeling better and have more energy in the daytime.
                    It helps improve your mental health and increases productivity. Some things in life would feel much 
                    easier. 
                    
                    

        div

            svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h2 Improves memory 
                p.
                    When you sleep, your memories in the daytime would sink into some parts of your brain and saves it.
                    So if you are a student, be sure to take enough sleep cause that might change your academics.
                    

        div

            svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h2 Lack of sleep is dangerous 
                p.
                    Some of the serious health problems are caused by sleep deprivation. It can affect anything. From your physcial health to
                    your mental health, sometimes even your looks. So I am going to stop and go to sleep. Bye bye. 
                    

    +nav-1({ target: "section-3", direction: "next" })
