section(class="canvas section-1" id="section-1")

    h2 Section 1

    div(class="content")

        div

            img(src="images/home/section-1/_inline/section1retry.png" inline)

            article

                h2 SDGs Goal 3: Good Health and Well-being
                
                p.
                    To ensure healthy lives and promote well-being for all at all ages. This website is about sleeping. 
                    It's important to get enough sleep. Sleeping helps keeping your mind and body healthy. 
                 
    +nav-1({ target: "section-2", direction: "next" })
